<div class="container mb-3">
    <div class="row">
        <div class="col-sm">
            <div class="row">
                <div class="col-sm">
                    <h1>The data</h1>
                    <p>sdasd</p>
                    <p>sdasd</p>
                    <p>sdasd</p>
                    <p>sdasd</p>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="row">
                <div class="col-sm">
                    <div style="display: flex;flex-direction: column; flex-wrap: wrap;">

                        <div style="margin:20px; width:200px;height: 120px;background-color: yellow;" class="box"></div>
                        <div style="margin:20px; width:200px;height: 120px;background-color: yellow;" class="box"></div>
                        <div style="margin:20px; width:200px;height: 120px;background-color: yellow;" class="box"></div>
                        <div style="margin:20px; width:200px;height: 120px;background-color: yellow;" class="box"></div>

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>