<div class="container my-2">
    <h1 class="h1 text-center">Write Post</h1>


    <form id="postInfo">
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input type="text" class="form-control" name="title"  id="title" >            
        </div>
        <div class="mb-3">
            <label for="body" class="form-label">Body</label>
            <textarea rows="6"  class="form-control" name="body" id="body"></textarea>
        </div>
    
        <!-- <button type="button" class="btn btn-primary" onclick="clickingForm()">Submit</button> -->
        <button type="submit" class="btn btn-primary" >Submit</button>
    </form>


</div>

<script src="../app/write-posts.js"></script>
<script>

</script>