:root {
    padding: 0;
    margin: 0;
    font-size: 3em;
    font-family: Roboto;
}

body {
    padding: 2em;
}

div {
    background: rgba(20, 20, 20, 0.2);
    color: #555;
    outline: 2px solid #333;
}

p {
    background: rgba(214, 156, 7, 0.352);
    color: #555;
    outline: 2px solid #333;
}

span {
    color: white;
    background: rgba(186, 7, 214, 0.352);
    color: #555;
    outline: 2px solid #333;
    /* display: inline-block; */
    /* note inline element margin top wornt work */
    width: 400px;
    margin-top: 10px;
    padding: 10px;
        /* padding is a hack */
    /* note inline element margin top wornt work */

    margin-left: 10px;
}

inline-span {
    color: white;
    background: rgba(186, 7, 214, 0.683);
    color: #555;
    display: inline-flex;
    height: 100px;
    width: 400px;
    outline: 2px solid #333;
    flex-direction: column;
    vertical-align: baseline;
    justify-content: center;
    align-items: flex-end;
}

li{
    background-color: aquamarine;
    color: #333;
}


