.container {
  padding: 0;
  margin: 0;
  list-style: none;
  border: 1px solid silver;
  display: flex;
  justify-content: center;
  background: green;


}

.nowrap  {
  display: flex;
  flex-wrap: nowrap;
}

.nowrap li {
  background: black;
}

.wrap    {
  flex-wrap: wrap;
}  
.wrap li {
  background: purple;
}

.wrap-reverse {
  flex-wrap: wrap-reverse;
}  
.wrap-reverse li {
  background: pink;
}

.flex-item {


  padding: 5px;
  width: 200px;
  height: 100px;
  margin: 10px;


  line-height: 100px;
  color: white;
  font-weight: bold;
  font-size: 2em;
  text-align: center;
}