.container {
    margin: 30px;
    width: 400px;
    height: 400px;
    background-color: lemonchiffon;


}

.item {
    height: 50px;
    width: 50px;
    margin: 20px;
    background-color: darkcyan;
    border: 1px solid black;
    display: inline-block;
    animation: bounce 2s 1;
    -webkit-animation: bounce 5s infinite;
}

.one {
    animation-timing-function: ease-in;
}

.two {
    animation-timing-function: ease-out;
}

.three {
    animation-timing-function: linear;
}

@keyframes bounce {
    0% {
       

}

    50% {
         background-color: deeppink;
         transform: translateY(300px) ;
         -webkit-transform: translateY(300px) ;
         -moz-transform: translateY(300px) ;
         -ms-transform: translateY(300px) ;
         -o-transform: translateY(300px) ;
}

    100% {
         background-color: yellow;
         transform: translateY(0px) ;
         -webkit-transform: translateY(0px) ;
         -moz-transform: translateY(0px) ;
         -ms-transform: translateY(0px) ;
         -o-transform: translateY(0px) ;
}
}